.header{
    background-color:#ee6e73;
    font-family:sans-serif;
}

.headertext{
    color:whitesmoke;
}

.headerli{
    padding-top: 20px;
   padding-right:35px;
   font-family:sans-serif;
   color:whitesmoke;
   float:right;
   list-style:none;
   
}